@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: poppin;
  src: url("../../public/fonts/poppin/Poppins-Black.ttf");
}
@font-face {
  font-family: poppin;
  src: url("../../public/fonts/poppin/Poppins-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: poppin;
  src: url("../../public/fonts/poppin/Poppins-ExtraBold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: poppin;
  src: url("../../public/fonts/poppin/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poppin;
  src: url("../../public/fonts/poppin/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: poppin;
  src: url("../../public/fonts/poppin/Poppins-SemiBold.ttf");
  font-weight: 600;
}

* {
  font-family: poppin;
  box-sizing: border-box;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

html {
  scroll-behavior: smooth;
}
* body {
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slick-prev:before,
.slick-next:before {
  color: red;
}
.slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 2px;
}

.slick-dots li.slick-active {
  background-color: #cacccd !important;
}

.slick-dots li {
  background-color: #58595b !important;
  width: 40px;
  height: 5px;
  border-radius: 10px;
}

.slick-dots button {
  width: 100% !important;
  height: 100% !important;
}

.slick-dots li button:before {
  width: 100% !important;
  height: 100% !important;
  content: "";
}

.slider,
.slick-slider {
  width: 100% !important;
}

.slick-track {
  display: flex !important;
  justify-content: center !important;
  margin: 0 !important;
  gap: 10px;
}

.slick-slide {
  width: auto !important;
  height: auto !important;
}

.grad {
  background: -webkit-linear-gradient(45deg, #eb9204, #83e868, #83e868);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fade {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
.title strong {
  background: -webkit-linear-gradient(45deg, #eb9204, #83e868, #83e868);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.richtext > * {
  @apply mb-2;
}

.line-border::after {
  content: "";
  position: absolute;
  top: 50%;
  border: 1px dashed gray;
  height: 100%;
  left: 50%;
  z-index: 1;
}

._border {
  border: 2px dashed gray;
}
._border p,
._border span {
  font-family: poppin !important;
}

._border::before {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  width: 8px;
  height: 8px;
  background: #00ebff;
  border-radius: 10px;
}
._border::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 8px;
  height: 8px;
  background: #f6af23;
  border-radius: 10px;
}

._dott_bottom_left {
  position: absolute;
  bottom: -7px;
  left: -7px;
  width: 8px;
  height: 8px;
  background: #f7476b;
  border-radius: 10px;
}
._dott_bottom_right {
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 8px;
  height: 8px;
  background: #92da59;
  border-radius: 10px;
}

._contnet h2,
._contnet h3 {
  font-size: 1.5rem;
  margin-bottom: 6px;
  margin-top: 6px;
  color: rgb(255, 255, 255);
}

._contnet p {
  color: rgb(186, 187, 187);
  font-size: 18px;
  font-variant: normal;
}
._contnet ul {
  padding-left: 1rem;
}
._contnet li {
  color: rgb(186, 187, 187);
  font-size: 18px;
  font-variant: normal;
  margin: 5px 0;
  list-style: disc;
}
._contnet strong {
  color: rgb(255, 255, 255);
}

@screen sm {
  ._contnet h2,
  ._contnet h3 {
    font-size: 1.8rem;
  }
}

@layer {
  .background-gradient {
    background-image: linear-gradient(153.68deg, #0daaef 0%, #7fe46c 100%);
  }

  .cta-background {
    background: url("/images/3d-grid.png"),
      linear-gradient(153.68deg, #0daaef 0%, #7fe46c 100%);
    background-size: cover, cover;
    background-position: center, center;
    background-blend-mode: overlay;
  }

  .black-radial-gradient {
    background: radial-gradient(
      ellipse at left,
      #22252c 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .gray-linear-gradient {
    background: linear-gradient(150deg, #383a46 0%, rgb(8, 9, 11) 60%);
  }

  .gray-linear-gradient-hover {
    background: linear-gradient(100deg, #383a46 0%, rgb(8, 9, 11) 60%);
  }

  .tilted-grid-radient {
    background-image: url("/images/grid-tilted.png"),
      linear-gradient(150deg, rgb(56, 58, 70) 0%, rgba(8, 9, 11, 0.9) 60%);
    background-position: center;
    background-size: contain;
    background-blend-mode: overlay;
  }
}

@layer utilities {
  .border-gradient {
    border-image: linear-gradient(to bottom, #85e965 0%, #f3b11d 100%) 1 !important;
    border-width: 1px !important;
    border-style: solid !important;
  }
}
